.bfm__member-container {
    width: 30%;
    min-width: 300px;
    max-width: 420px;
    height: auto;
    color: rgb(216, 216, 216);
    font-family: var(--font-family-paragraph);
}

.bfm__member-img {
    width: 90%;
    padding: 5px;
    border: 5px solid black;
    border-radius: 3px;
}

.bfm__member-name {
    font-size: 28px;
}

.bfm__member-description {
    font-size: 18px;
    font-weight: 400;
}