.bfm__team-container {
    background-color: #344B46;
    height:100%;
    padding: 20px 0px;
    font-family: var(--font-family-title);
    font-weight: 400;
}
.bfm__team-title {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 54px;
    color: rgb(226, 226, 226);
}

.bfm__team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 85px;
}